In [1]:
#Pandas Homework for the Academny of Py Homework
#Tyler Buhr, January 2020

In [2]:
#Load in CSV files and set up dependencies
import pandas as pd
import numpy as np

schools_csv = "PyCitySchools_Schools.csv"
students_csv = "PyCitySchools_Scores.csv"

In [3]:
#Read into the CSV's and store as pandas dataframes (df)
school_df = pd.read_csv(schools_csv)
student_df = pd.read_csv(students_csv)

In [4]:
# merge the two CSV's into a single data frame 
complete_df = pd.merge(school_df, student_df, how = "left", on = ["school_name", "school_name"])

# District Summary

In [5]:
#Create a df for the district to perform analysis
Dist_df = {}
Dist_df = pd.DataFrame()

#create headers for df table, pull data from csv
Dist_df["Total Schools"] = [school_df.school_name.value_counts().sum()]
Dist_df["Total Students"] = [school_df["size"].sum()]
Dist_df["Total Budget"] = [school_df["budget"].sum()]
Dist_df["Average Math Score"] = [student_df["math_score"].mean()]
Dist_df["Average Reading Score"] = [student_df["reading_score"].mean()]

#determine passing rate equations, passing is >= 70
Total_Students = len(student_df["Student ID"])
math_passing = len(student_df[student_df["math_score"] >= 70])/ Total_Students
reading_passing = len(student_df[student_df["reading_score"] >= 70])/ Total_Students

overall_pass = (math_passing + reading_passing)/2

#insert the passing rates into the df
Dist_df["%Passing Math"] = math_passing
Dist_df["%Passing Reading"] = reading_passing
Dist_df["%Overall Passing Rate"] = overall_pass

#redeclare the df with the new data
Dist_df = pd.DataFrame(Dist_df)

#display the df/table
Dist_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

# School Summary

In [6]:
#Group schools, also by type
Schools = complete_df.set_index('school_name').groupby(['school_name'])
types = school_df.set_index('school_name')['type']

#find students per school
stud_per_school = complete_df.groupby('school_name')['Student ID'].count()

#find total budget per school 
budg_per_school = school_df.set_index('school_name')['budget']

#find budget per student at each school
budg_perst_persch = school_df.set_index('school_name')['budget']/school_df.set_index('school_name')['size']

#average math test score by school
mean_math_score = Schools['math_score'].mean()

#average reading test score by school 
mean_read_score = Schools['reading_score'].mean()

#passing percentage of math by school (pass is >=70)
pass_math = complete_df[complete_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stud_per_school 

#passing percantage of reading by school (>=70)
pass_read = complete_df[complete_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stud_per_school

#overall/average passing grade by school across
overall = complete_df[(complete_df['reading_score'] >= 70) & (complete_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stud_per_school

#create df/dict to correspond table headers with resources above
schSumm = pd.DataFrame({"School Type": types,
                       "Total Students": stud_per_school,
                       "Budget Per School": budg_per_school,
                       "Budget Per Student": budg_perst_persch,
                       "Average Math Score": mean_math_score,
                       "Average Reading Score": mean_read_score,
                       "% Passing Math": pass_math,
                       "% Passing Reading": pass_read,
                       "% Overall Passing": overall})

#set up the table keys to output
schSumm = schSumm[['School Type', 'Total Students', 'Budget Per School', 'Budget Per Student', 'Average Math Score',
                  'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]

schSumm

,School Type,Total Students,Budget Per School,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

# Top Performing Schools

In [7]:
#pull/sort the schSumm df to push the top 5 schools
top_school = schSumm.sort_values("% Overall Passing", ascending = False)

top_school.head()

,School Type,Total Students,Budget Per School,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

# Bottom Performing Schools

In [8]:
#pull/sort the schSumm df to push the bottom 5 schools, use tail to get bottom/end of the above table
bott_school = top_school.tail()

bott_school.head()

,School Type,Total Students,Budget Per School,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882

# Math Scores By Year in School

In [9]:
#find average math scores by grade across schools
nine_m = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
ten_m = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleven_m = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelve_m = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

#create df/dict for the scores
year_scores_m = pd.DataFrame({"9th": nine_m, "10th": ten_m, "11th": eleven_m, "12th": twelve_m})

#set up table keys to output
year_scores_m = year_scores_m[['9th', '10th', '11th', '12th']]

#edit school column to display without underscore
year_scores_m.index.name = "School Name"

year_scores_m

                             9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores By Year in School

In [10]:
#repeat similar to math scores, but find reading by grade
nine_r = student_df.loc[student_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
ten_r = student_df.loc[student_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleven_r = student_df.loc[student_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelve_r = student_df.loc[student_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#create df/dict for the scores
year_scores_r = pd.DataFrame({"9th": nine_r, "10th": ten_r, "11th": eleven_r, "12th": twelve_r})

#set up table keys to output
year_scores_r = year_scores_r[['9th', '10th', '11th', '12th']]
year_scores_r.index.name = "School Name"

year_scores_r

                             9th       10th       11th       12th
School Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending (per student)

In [11]:
#create the spending bins
bins = [0, 585, 615, 645, 675]
bin_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#create a data set for the spending bins
complete_df['spending_bins'] = pd.cut(complete_df['budget']/complete_df['size'], bins, labels = bin_names)

#group the df by spending 
group_spending = complete_df.groupby('spending_bins')

#find the average math and reading scores from the new category/df
math_avg = group_spending['math_score'].mean()
reading_avg = group_spending['reading_score'].mean()

#find the passing percentage for the new category/df
math_passing = complete_df[complete_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/group_spending['Student ID'].count()
reading_passing = complete_df[complete_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/group_spending['Student ID'].count()
overall_passing = (math_passing + reading_passing)/2

#set up the new df for scores by school spending
spend_scores = pd.DataFrame({"Average Math Score": math_avg, "Average Reading Score": reading_avg, "% Passing Math": math_passing,
    "% Passing Reading": reading_passing,"% Overall Passing": overall_passing})
 
#set up table keys for output
spend_scores = spend_scores[['Average Math Score', 'Average Reading Score', '%Passing Math', '% Passing Reading', "% Overall Passing"]]

#rename the spending bins index 
spend_scores.index.name = "Spending Per Student"

spend_scores

KeyError: "['%Passing Math'] not in index"

# Scores by School Size

In [12]:
#repeat similar steps as the school spending
bins = [0, 1000, 2000, 5000]
bin_names = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
complete_df['size_bins'] = pd.cut(complete_df['size'], bins, labels = bin_names)

#group by size
size_score = complete_df.groupby('size_bins')

#find for size instead of spending
math_avg_size = size_score['math_score'].mean()
reading_avg_size = size_score['reading_score'].mean()

math_passing_size = complete_df[complete_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size_score['Student ID'].count()
reading_passing_size = complete_df[complete_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/size_score['Student ID'].count()
overall_passing_size = (math_passing_size + reading_passing_size)/2

size_score = pd.DataFrame({"Average Math Score": math_avg_size, "Average Reading Score": reading_avg_size, "% Passing Math": math_passing_size,
    "% Passing Reading": reading_passing_size,"% Overall Passing": overall_passing_size})

size_score = size_score[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', "% Overall Passing"]]

size_score.index.name = "School Size"

size_score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.828654,83.974082,0.939525,0.960403,0.949964
Medium (1000-2000),83.372682,83.867989,0.936165,0.967731,0.951948
Large (>2000),77.477597,81.198674,0.686524,0.821252,0.753888

# Scores by School Type

In [13]:
#repeat similar for type of school 

bins_type = ["Charter", "District"]

#group by type
type_score = complete_df.groupby('type')




#find for type instead of spending/size
math_avg_type = type_score['math_score'].mean()
reading_avg_type = type_score['reading_score'].mean()

math_passing_type = complete_df[complete_df['math_score'] >= 70].groupby('type')['Student ID'].count()/type_score['Student ID'].count()
reading_passing_type = complete_df[complete_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/type_score['Student ID'].count()
overall_passing_type = (math_passing_size + reading_passing_size)/2

type_score = pd.DataFrame({"Average Math Score": math_avg_type, "Average Reading Score": reading_avg_type, "% Passing Math": math_passing_type,
    "% Passing Reading": reading_passing_type,"% Overall Passing": overall_passing_type})

type_score = size_score[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', "% Overall Passing"]]

type_score.index.name = "School Type"

type_score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Small (<1000),83.828654,83.974082,0.939525,0.960403,0.949964
Medium (1000-2000),83.372682,83.867989,0.936165,0.967731,0.951948
Large (>2000),77.477597,81.198674,0.686524,0.821252,0.753888

# Analysis
- surprisngly the more money spent per student does not seem to correlate with better scores; in fact the opposite seems to be true, the more money spent the lower the scores.  
- Also, years do not seem to matter in terms of passing; the rates of passing grades by school appear to stay relativly constant across years, indicating that initial passsing rates at 9th grade remain constant throughout the years of education.